*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.progress{
  height: 50px;
  width:400px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.progress:hover{
  background-position: left bottom;
}

.btn{
  margin-top:10px;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #04AA6D;
}