*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grid
{
    width: fit-content;
    display: grid;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
}

.box{
    height:40px;
    width:40px;
    background-color: #ffffff;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
}